<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="feup.cmpv.feup.casadamusica">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="false"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name=".application.ApplicationContextRetriever"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/MyMaterialTheme"
        android:hardwareAccelerated="true">
        <activity android:name=".view.ConfigureHostActivity"/>
    </application>

</manifest>